body{
    background: #050e2d;
    font-family: sans-serif;
}

#form {
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: #1b2141;
    border-radius: 4px;
    font-size: 15px;
}

#form h1 {
    color: white;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
   
}

#form a{
    padding: 8px 16px;
    margin: 20px 0;
    text-decoration: none;
    font-weight: 300px;
    border-radius: 5px;
    background-color: #050e2d;
    border: 1px solid #1aeeef;
    color: white;
    
}
#form button{
    color: white;
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid #1aeeef;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    background-color: #050e2d;
    letter-spacing: 1px;
    
}

.userInput {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.userInput input {
    border-radius: 6px;
    padding: 10px;
    font-family: sans-serif;
}


.error {
    color: red;
    padding-top: 5px;
}

